<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="lang" content="" http-equiv="content-language">
    <meta name="robots" content="index,follow">
    <meta name="robots" content="noodp">
    <meta name="robots" content="noydir">
    <meta name="description" content="">
    <title>Brastlewark</title>
    <meta name="version-info">
    </head>
    <body>
    <div class="container-fluid">
    </div>
            
    <!--script type="text/javascript" src="/brastlewark/static/js/js/app.js"></script-->
    <script type="text/javascript" src="/brastlewark/static/vendors-pkg.js"></script>
    </body>
</html>
