<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="lang" content="" http-equiv="content-language">
    <meta name="robots" content="index,follow">
    <meta name="robots" content="noodp">
    <meta name="robots" content="noydir">
    <meta name="description" content="">
    <title>Brastlewark</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <link rel="stylesheet" href="/brastlewark/static/main.css">
    <meta name="version-info">
    </head>
    <body ng-app="App">
        <div class="container">
            <!-- <header></header> -->
            <main></main>
        </div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/main/main.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/results-container/results-container.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/filters/filter-hair/filter-hair.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/filters/filter-professions/filter-professions.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/filters/filter-name/filter-name.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/filters/filters-box/filters-box.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/components/profile-cluster/profile-cluster.component.js"></script>
        <script type="text/javascript" src="/brastlewark/static/services/population.service.js"></script>
        <script type="text/javascript" src="/brastlewark/static/services/results-data.service.js"></script>
        <script type="text/javascript" src="/brastlewark/static/app.module.js"></script>
    
    <!--script type="text/javascript" src="/brastlewark/static/js/js/app.js"></script-->
    <!--script type="text/javascript" src="/brastlewark/static/vendors-pkg.js"></script-->
    </body>
</html>
