.filters-general-container
  .background
  .filters
    .header.filters-head
      span.filters-title.title Filtrar por
      button.filter-reset
        span.icon.icon-cross
        | Quitar filtros
    .mobile-toggle-box
      filter-name(search="ctrl.filters")
      //- filter-age-container
      //- filter-professions-container
      //- filter-hair-container