.filters-general-container
  .background
  .filters
    .header.filters-head
      span.filters-title.title Filtrar por
      button.filter-reset
        span.icon.icon-cross
        | Quitar filtros
    .mobile-toggle-box
      filter-name
      filter-professions
      filter-range(type="ctrl.filterAge.type" range="ctrl.filterAge.range")
      filter-range(type="ctrl.filterHeight.type" range="ctrl.filterHeight.range")
      filter-range(type="ctrl.filterWeight.type" range="ctrl.filterWeight.range")