.filters-general-container
  .background
  .filters
    .header.filters-head
      span.filters-title.title Filter by
      //- button.btn.btn-sm.btn-info.delete-filters
      //-   | x Clear filters
    .mobile-toggle-box
      filter-name
      filter-professions
      filter-hair
      filter-range(ng-repeat="filterRange in ctrl.filtersRange" unit="filterRange.unit" type="filterRange.type" range="filterRange.range")