.profile-item {
    position: relative;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #52575c;
    border-radius: 12px;
    height: auto;
    min-height: 220px;
    color: #aaa;
    margin-top: 15px;

    .list-group-item-heading{
        color: #fff;
    }
}
.stars {
    margin:20px auto 1px;    
}