.main-results{
    .count-results {
        line-height: 1rem;
        font-size: .875rem;
        font-weight: 600;
        color: #fff;
        padding: 16px 0 16px 16px;
        display: inline-block;
    }
}