.row
  .col-md-3
    filters-box(age-range="ctrl.ageRange")
  .col-md-9
    .general-container
        h2 {{ctrl.results().length}}
        profile-cluster(ng-repeat="gnome in ctrl.results()" profile="gnome")